@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input-text {
        @apply
        box-border resize
        bg-primary-background
        border-2
        border-primary-border
        text-primary-text
        placeholder-note-tooltip
        p-1
        w-full
        rounded
    }

    .form-button-submit {
        @apply
        bg-offset-background hover:bg-note-border
        text-offset-text font-bold
        m-4 py-2 px-4
        rounded
    }

    .button-optional {
        @apply
        bg-offset-background hover:bg-note-border
        text-offset-text font-normal
        py-1 px-2
        rounded
    }

    .button-containerless {
        @apply
        hover:underline hover:text-primary-accent
        text-center block font-bold
    }
}
@layer utilities {

    ::root {
        --scrollbar-primary: rgba(1, 1, 1, 0);
    }
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 20px;
    }

    ::-webkit-scrollbar-track {
        /* border-radius: 100vh; */
        background:  rgba(1, 1, 1, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
        /* border-radius: 100vh; */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.6);
    }
    ::selection {
        color: black;
        background: rgb(122, 255, 252);
    }

    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            width: 1rem;
        }
    }
}