@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    ::root {
        --scrollbar-primary: rgba(1, 1, 1, 0);
    }
    ::-webkit-scrollbar {
        width: 0.5rem;
        height: 20px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background:  rgba(1, 1, 1, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
        border-radius: 100vh;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.6);
    }
}